/* menu bloco linha metade */

.menu {
  position: fixed;
  width: 100vw;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu>.bloco {
  background: black;
  border-radius: 20px;
  margin: 20px auto;
  padding: 18px 15px;
  box-shadow: 0px 0px 37px -10px rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
}

.menu>.bloco>.linha {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu>.bloco>.linha.titulo {
  color: #ffe81f;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.menu>.bloco>.linha>.metade {
  width: 50%;
}

.menu>.bloco .btnRedirect {
  margin-top: 25px;
  background: #000000;
  color: #FFFFFF;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 2px solid #ffe81f;
  border-radius: 500px;
  padding: 5px 25px;
  text-decoration: none !important;
}

.menu>.bloco .btnRedirect:hover {
  background: #ffe81f;
  color: #000000;
  text-decoration: none !important;
}