.container {
  background-color: #000000;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container *::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0;
    background-color: #000000;
}

.container *::-webkit-scrollbar
{
    width: 12px;
    background-color: #000000;
}

.container *::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FFFFFF44;
}


.background {
  background-image: url('./img/background.png');
}

.centralizado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 115px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  opacity: 1;
  font-family: 'star-wars';
  user-select: none;
}

.entrada {
  position: absolute;
  font-size: 60vw !important;
  animation: logo 6s linear forwards;
}

.long-time-ago {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.35;  
  user-select: none;
}

/* CORES */

.amarelo {
  color: #ffe81f;
}

.azul {
  color: #4bd5ee;
}

/* FONTES */

@font-face {
  font-family: 'star-wars';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Starjhol.ttf') format('TrueType')
}

/* ANIMAÇÕES */

@keyframes desaparecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes logo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  82.5%{
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.loader-inicial{
  animation: desaparecer 0.5s ease forwards reverse 0s, desaparecer 0.5s ease forwards 3.3s;
}