.outside-entrada {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  font-size: 35px;
  perspective: 750px;
  perspective-origin: top center;
  transform-style: preserve-3d;
  position: fixed;
  transform-origin: top;
  transform: scale(0.5);
  top: 0px;
  animation: texto 35s linear forwards;
  transition: top 35s linear, opacity 25s linear;
  font-weight: 700;
}

.outside-entrada>.numeracao {
  transform-origin: top center;
transform: rotateX(30deg);
}

.outside-entrada>.titulo {
  transform-origin: top center;
  transform: rotateX(30deg);
}

.outside-entrada>.texto {
  transform-origin: top center;
  transform: rotateX(40deg);
  max-width: 26ch;
  text-align: justify;
}

/* ANIMAÇÕES */

@keyframes texto {
  0%{
    opacity: 1;
    top: 100vh;
    transform: scale(5);
  }
  85%{
    top: 0px;
  }
  98%{
    opacity: 1;
  }

  100%{
    top: -10vh;
    transform: scale(0.2);
    opacity: 0;
  }
}
